[submodule "ai-ml/nanoGPT"]
	path = ai-ml/nanoGPT
	url = https://github.com/karpathy/nanoGPT.git
[submodule "ai-ml/llama2.c"]
	path = ai-ml/llama2.c
	url = https://github.com/karpathy/llama2.c.git
[submodule "ai-ml/makemore"]
	path = ai-ml/makemore
	url = https://github.com/karpathy/makemore.git
[submodule "ai-ml/minbpe"]
	path = ai-ml/minbpe
	url = https://github.com/karpathy/minbpe.git
[submodule "ai-ml/build-nanogpt"]
	path = ai-ml/build-nanogpt
	url = https://github.com/karpathy/build-nanogpt.git
[submodule "ai-ml/ng-video-lecture"]
	path = ai-ml/ng-video-lecture
	url = https://github.com/karpathy/ng-video-lecture.git
